  body {
    font-family: Roboto;
  }
  
  h1 {
    text-transform: uppercase;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2E74B5;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #ED7D31;
  }
  
  article {
    float: left;
    background-color: #ED7D31;
    margin: 0 0 10px 10px;
  }